#container{
    display: flex;


}
.list {
    list-style: none;
    padding: 15px;
}
a{
    color: #fff;
}
.sidebar {
    color: #ffff;
    background: #242b2e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer{
    display: flex;
    margin: 0 auto;

}
.icon{
    width: 40px;
    height: 40px;
}